{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>
<body>
    {% block content %}
    <div class="container" style="min-height:10%;">
      <nav>
                {% if user.is_authenticated %}
                 <ul class="nav navbar-nav navbar-left">
                  <li><h3>Welcome , {{user.username}}</h3></li> </ul>
                  <ul class="nav navbar-nav navbar-right">
                  <li><a href="{% url 'logout' %}" ><span class="glyphicon glyphicon-log-out" align="right"></span> Logout</a></li>
                 </ul>
                {% endif %}
      </nav>
    </div>

<div class="circle small">
  <br><br>
  <h1>On Campus<br>65427</h1>
</div>
    
<footer class="container-fluid text-center">
  Some footer text!!
</footer>
{% endblock %}
</body>
</html>
<script>
  var data=JSON.parse("{{dataJson|escapejs}}");
</script>